@import '../../stylesheets/colors';

body {
  background-color: #f7f7f7;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.App > .container {
  margin-bottom: 50px;
  padding-bottom: 25px;
  background-color: white;
}

.header {
  color: $reddit-orange;
}
